<h3>{{titulo}}</h3>
<hr/>

<form #formImage="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-producto">

    <label>
        Título:
        <span *ngIf="!titulo.valid && titulo.touched" class="label label-danger">El título no es válido</span>
    </label>
    <input type="text" #titulo="ngModel" name="titulo" [(ngModel)]="image.titulo" class="form-control" required>
    <label>
        Descripción
        <span *ngIf="!picture.valid && picture.touched" class="label label-danger">La descripción es obligatoria</span>
    </label>
    <textarea #picture="ngModel" name="descripcion" [(ngModel)]="image.picture" class="form-control" required></textarea>
    <label>
        Precio
        <span *ngIf="!producto.valid && producto.touched" class="label label-danger">El precio no es correcto</span>
    </label>
    <input type="text" #producto="ngModel" name="precio" [(ngModel)]="image.producto" class="form-control" required pattern="[0-9]+">
    <label>
        Imagen
    </label>
    <input type="file" class="form-control">
    <br/>
    <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success">
</form>